.tHeadClass {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

:target {
  color: red;
}

p {
  font: 12pt "Verdana", "Tahoma", super, sans-serif;
}
p {
  text-indent: 10mm;
}
article p span {
  font-size: 2em;
  border-style: dotted;
  background-position: 50% 50%;
  background-size: 10% 100%;
  height: 100px;
  background-color: silver;
  background-image: url(https://pbs.twimg.com/profile_images/966639234114256896/fKQPQYDt_400x400.jpg);
}

article span div {
  padding: 10px;
  color: white;
  background-color: black;
  background-clip: border-box;
  background-image: repeating-radial-gradient(
    circle farthest-corner at 80px 40px,
    white,
    blue 20px
  );
}

.spisok {
  font-size: 35px;
  text-align: center;
  list-style-position: inside;
  list-style-image: url(https://image.flaticon.com/icons/png/128/2058/2058943.png);
}

.table {
  border: black 1px solid;
  width: 900px;
  text-align: center;
  table-layout: fixed;
  cursor: grab;
}
td,
th {
  empty-cells: show;
  border-collapse: collapse;
  border: black 1px solid;
}

.silka {
  max-width: max-content;
  font-size: 20px;
  max-height: 100px;
  background: chocolate;
  overflow: auto;
  cursor: grab;
}

.flex div {
  height: 40px;
  width: 200px;
  border: 1px rgb(233, 193, 193) solid;
  display: inline-flex;
  justify-content: space-between;
  justify-content: space-around;
  color: slateblue;
}
.grid__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
.grid__item {
  margin: auto;
  text-align: center;
  border: 2px dashed blueviolet;
  padding: 30px;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  "header header"
  "side content";
  
  border: 2px dashed blueviolet;
}

.grid__header {
  border: 2px dashed blueviolet;
  grid-area: header;
}

.grid__side {
  grid-area: side;
  border: 2px dashed blueviolet;
}

.grid__header,
.grid__side,
.grid__content {
  padding: 30px;
  border: 2px dashed blueviolet;
  margin: 0% 0% 15px 0%;
  column-gap: 20px;
}
.grid__content {
  grid-area: content;
}
