.home {
  background-color:tomato
}

.block div {
  display: grid;
  background-color: ;
  /*border: 1px dashed #000;*/
  grid-template-columns: repeat(1fr 1fr 1fr);
  grid-template-rows: repeat(1fr 1fr 1fr 1fr);
  float: left;
	grid-gap: 10px;
	grid-template-rows: repeat(3, 3fr);
  grid-template-areas:
    "h i x"
    "d c s"
		"n c 0"
		"v b l";
}

.one {
	grid-area: h;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.two {
	grid-area: d;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.three {
	grid-area: n;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.four {
		grid-area: i;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.five {
		grid-area: v;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}