.nav {
    grid-area: n;
    background-color: #ff7b74 ;
    border-radius: 5px;
    padding: 30px;
    
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activelink {
    color: gold;
}
.loginBlock a {
    color: rgb(23, 21, 21);
}