.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  border-radius: 100px;
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.app-wrapper-content {
    grid-area: c;
    background-color: rgb(117, 230, 194);
    border-radius: 2px;
}
