.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 2px;
}

.messages .message{
    padding: 2px;
}

.dialogsItems .active {
    color: rebeccapurple;
}
